[user]
  name = winetree94
  email = me@winetree94.com
	signingkey = /home/winetree94/.ssh/winetree94_id_rsa.pub
[init]
	defaultBranch = main
[core]
  pager = delta
	longpaths = true
	protectNTFS = false
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection
  side-by-side = true
[merge]
  conflictStyle = zdiff3
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[pull]
  rebase = true
[push]
	autoSetupRemote = true
[include]
  path = ~/.gitconfig.linux
  path = ~/.gitconfig.mac
  path = ~/.gitconfig.windows
  path = ~/.gitconfig.wsl
  path = ~/.gitconfig.profile
[credential "https://github.com"]
	helper =
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[windows]
	appendAtomically = false
[gpg]
	format = ssh
