[user]
  name = winetree94
  email = me@winetree94.com
[init]
	defaultBranch = main
[core]
  pager = delta
	longpaths = true
	protectNTFS = false
	editor = nvim
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection
  side-by-side = true
[merge]
  conflictStyle = zdiff3
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[pull]
  rebase = true
[push]
	autoSetupRemote = true
[include]
  path = ~/.gitconfig.linux
  path = ~/.gitconfig.mac
  path = ~/.gitconfig.windows
  path = ~/.gitconfig.wsl
  path = ~/.gitconfig.profile
[windows]
	appendAtomically = false
[gpg]
	format = ssh
[sequence]
	editor = nvim
[credential "https://git.chatgpt-team.site"]
	provider = generic
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
