[user]
  name = winetree94
  email = me@winetree94.com
  signingkey = C20D90288161417E
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[pull]
  rebase = true
[credential]
  helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[push]
	autoSetupRemote = true
[include]
  path = ~/.gitconfig.linux
  path = ~/.gitconfig.mac
  path = ~/.gitconfig.windows
  path = ~/.gitconfig.wsl
  path = ~/.gitconfig.profile

