[user]
  name = winetree94
  email = me@winetree94.com

[pull]
  rebase = true
[credential]
  helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[push]
	autoSetupRemote = true

