[user]
  name = winetree94
  email = me@winetree94.com
  signingkey = C20D90288161417E
[init]
	defaultBranch = main
[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection
  side-by-side = true
[merge]
  conflictStyle = zdiff3
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[pull]
  rebase = true
[push]
	autoSetupRemote = true
[include]
  path = ~/.gitconfig.linux
  path = ~/.gitconfig.mac
  path = ~/.gitconfig.windows
  path = ~/.gitconfig.wsl
  path = ~/.gitconfig.profile
